
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/files/doc/*
!/public/files/doc/.gitkeep
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

.DS_Store
src/.DS_Store
public/.DS_Store
public/files/.DS_Store

/migrations-for-mysql-db/
/migrations-for-mysql-db_00/
