# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
#
# More information on profiles: https://www.jhipster.tech/profiles/
# More information on configuration properties: https://www.jhipster.tech/common-application-properties/
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

logging:
  level:
    ROOT: DEBUG
    io.github.jhipster: DEBUG
    com.panelys.cash.core.integration.services: DEBUG

spring:
  profiles:
    active: prod
    include:
      - swagger
      # Uncomment to activate TLS for the dev profile
      #- tls
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: false # we use Webpack dev server + BrowserSync for livereload
  jackson:
    serialization:
      indent-output: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://10.10.2.21:3306/core_integration_services_db?useUnicode=true&characterEncoding=utf8&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: app_user
    password: X001-Q@-hd6@BSlM^^C)HERZ]Biz,0;tvUir
    hikari:
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    database: MYSQL
    show-sql: true
    properties:
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: true
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.cache.region.factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
      hibernate.cache.hazelcast.instance_name: integrationServices
      hibernate.cache.use_minimal_puts: true
      hibernate.cache.hazelcast.use_lite_member: true
  liquibase:
    # Remove 'faker' if you do not want the sample data to be loaded automatically
    contexts: dev, faker

  mail:
    host: smtp.ionos.fr
    port: 465
    username: dev.support@panelyscash.com
    #from: devsupport@panelys.com
    password: 'P@nelys_CO_2021_@.'
    protocol: smtp
    tls: true
    properties.mail.smtp:
      auth: true
      starttls.enable: true
      ssl.enable: true
      ssl.trust: smtp.ionos.fr

  messages:
    cache-duration: PT1S # 1 second, see the ISO 8601 standard
  thymeleaf:
    cache: false

server:
  port: 21103
  ip: 10.10.2.21

# ===================================================================
# JHipster specific properties
#
# Full reference is available at: https://www.jhipster.tech/common-application-properties/
# ===================================================================

jhipster:
  cache: # Cache configuration
    hazelcast: # Hazelcast distributed cache
      time-to-live-seconds: 3600
      backup-count: 1
      management-center: # Full reference is available at: http://docs.hazelcast.org/docs/management-center/3.9/manual/html/Deploying_and_Starting.html
        enabled: false
        update-interval: 3
        url: http://localhost:8180/mancenter
  # CORS is only enabled by default with the "dev" profile, so BrowserSync can access the API
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Authorization,Link,X-Total-Count'
    allow-credentials: true
    max-age: 1800
  security:
    authentication:
      jwt:
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret: NDYzNDhlM2U0NzlmY2VmNjAwNGFmZmU5YTdiMWJmOTMyYThkZmYwNDA3ZmNkM2I2ZmJiOTQ0NWQ5NWY3ODg5NmEwZWRiNTA3MTUxYmRhODM2M2U3NGEwOWM0N2IyNmRhMjU3MzVkZDcwOTRjMzAwNGQ5NTdjZTJmMDlkOWZiMGY=
        # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  mail: # specific JHipster mail property, for standard properties see MailProperties
    #from: devsupport@panelys.com
    from: dev.support@panelyscash.com
    base-url: http://10.10.2.21:21103
    # Nouvelle configuration de mail integration avec ionos

  metrics:
    logs: # Reports metrics in the logs
      enabled: false
      report-frequency: 60 # in seconds
  logging:
    use-json-format: false # By default, logs are not in Json format
    logstash: # Forward logs to logstash over a socket, used by LoggingConfiguration
      enabled: false
      host: localhost
      port: 5000
      queue-size: 512
# ===================================================================
# Application specific properties
# Add your own application properties here, see the ApplicationProperties class
# to have type-safe configuration, like in the JHipsterProperties above
#
# More documentation is available at:
# https://www.jhipster.tech/common-application-properties/
# ===================================================================

# application:
panelys.accountmanager.uri: http://10.10.2.5:21001/services/accountmanager/api/
panelys.customermanager.uri: http://10.10.2.5:21001/services/customermanager/api/
panelys.feesmanager.uri: http://10.10.2.21:21009/api/
panelys.hazelcast.uri: http://10.10.2.5:21104/
#panelys.cinetpay.uri: http://10.10.2.5:54080/cnp/
panelys.cinetpay.uri: https://cnp.panelys.com/cnp/
panelys.mtarget.uri: http://10.10.2.5:51080/mtg/
panelys.notification.uri: http://10.10.2.5:55080/osn/
panelys.sycapay.uri: http://3.135.254.200:53080/syca/
#panelys.tutuka.uri: http://10.10.2.5:52080/ttk/
panelys.tutuka.uri: https://ttk.panelys.com/ttk/
panelys.pcacquirer.uri: http://10.10.2.5:21001/services/pcacquirer/api/
panelys.otpmanager.uri: http://10.10.2.21:21102/api/
