{% extends 'bo/base.html.twig' %}

{% block body %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">{% block card_title %}Attribution de role{% endblock %}</h3>
                        </div>
                        <!--begin::Form-->
                        {{ include('bo/bp_model_role/_form.html.twig') }}
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>

            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/assets/admin/js/pages/crud/forms/widgets/select2.min.js?v=7.0.5') }}"></script>
    <script>
        jQuery(document).ready(function() {
            $('.select2').select2({
                placeholder: "Choisir une ou plusieurs variables",
                //allowClear: true
            });
        });
    </script>
{% endblock %}
